
/*  ----------------------------------------------
    menu.css
    ----------------------------------------------  */


/*  =MENU
    ----------------------------------------------  */
    #menu-page .landing-nav {
      font-size: 1.2em;
      margin: 20px 10px 10px 10px;
      padding: 0px;
    }
    #menu-page .landing-nav li {
      list-style-type: none;
      padding: 1px;
    }
    #menu-page .landing-nav li:first-child {
      border: 0 none;
    }
    #menu-page .landing-nav li a {
	  display: block;
      font-size: 0.80em;
      color: #fff;
      font-weight: bold;
      padding: 10px;
	  text-decoration: none;
      background: #2b2b2b;
	  height: 100%;
	  text-align: center;

      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
    }

    #menu-page #menu-list {
      overflow: auto;
	  margin-top: 15px;
    }

	#menu-page #menu-list h3 {
      font-size: 1.1em;
      color: #fff;
      font-weight: bold;
	  margin-left: 15px;
	}
	
	#menu-page .menuaddress {
		margin: 10px 15px;
	}

	/* STORE LISTING */
    #menu-page #menu-list .item-listing {
      font-size: 0.80em;
      margin: 0 10px 15px;
      padding: 0px;
    }

    #menu-page #menu-list .item-listing li.item {
		width: 100%;
    }

    #menu-page #menu-list .item-listing li.item .cont {
		color: #fff;
		line-height: 110%;	
    }
	#menu-page #menu-list .topback {
		margin: 0 10px 0px;
		font-size: .8em;
	}
	
	hr.rule {
		background-color:#002C77;
		color:#37424A;
		height:1px;
		border:0 none;
		margin: 1em 0;
	}
	#menu-page #menu-list .item-listing li.item .cont h3 {
		font-size: 1.2em;
                color: #37424A;
		margin-left: 0px;
	}
	#menu-page #menu-list .item-listing li.item .cont p {
	}